{% extends "layout.html" %}

{% block secondNav %}
<div class="subNavbar navbar-expand-md navbar-light bg-steel nav-item nav-link">
  <a class="nav-item nav-link" href="#home">Project Settings</a>
  <a class="nav-item nav-link" href="#home">Infrastructure</a>
  <!-- <a class="nav-item nav-link" href="#home"><i class="fas fa-vr-cardboard"></i></a> -->
  <div>

  </div>
</div>
<div class="sidenav">
  <li href="#">Data</li>
  <li href="#">Prep | Framing</li>
  <li href="#">Feature Engineering</li>
  <li href="#">Modeling</li>
</div>
{% endblock %}

{% block content %}

{% endblock content %}
